REGISTRY_HOST=registry.wk.35-205-14-60.nip.io
FRONT_IMAGE=tiptop-front
API_IMAGE=tiptop-api
IMAGE_TAG=develop-latest
VITE_API_BASE_URL=https://api.dev.dsp5-archi-f24a-15m-g4-2025.fr
PUBLIC_URL=https://dev.dsp5-archi-f24a-15m-g4-2025.fr
SPRING_PROFILES_ACTIVE=dev
TIPTOP_SECURITY_JWT_SECRET=S3cr3tKey-Change-Me-Please-Dev
POSTGRES_DB=tiptop_dev
POSTGRES_USER=tiptop
POSTGRES_PASSWORD=tiptop
POSTGRES_PORT=55432
FRONT_PORT=8081
API_PORT=8082
PGADMIN_PORT=8083
PGADMIN_EMAIL=devops@example.com
PGADMIN_PASSWORD=SuperSecret1!
