services:
  traefik:
    image: traefik:v3.1
    command:
      - "--configFile=/etc/traefik/traefik.yml"
    env_file: .env
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
      - "9100:9100"
    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./dynamic.yml:/etc/traefik/dynamic.yml:ro
      - traefik_letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - workflow_net
    restart: unless-stopped

networks:
  workflow_net:
    external: true

volumes:
  traefik_letsencrypt:
