version: "3.9"

services:
  nginx:
    image: nginx:1.25-alpine
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/certs:/etc/ssl/nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - jenkins
      - gitea
      - grafana
      - prometheus
    networks:
      - workflow_net

  jenkins:
    image: jenkins/jenkins:lts-jdk17
    user: root
    volumes:
      - ../data/jenkins:/var/jenkins_home
    environment:
      - JENKINS_OPTS=--httpPort=8080
    networks:
      - workflow_net

  gitea:
    image: gitea/gitea:1.23
    environment:
      - USER_UID=1000
      - USER_GID=1000
    volumes:
      - ../data/gitea:/data
    depends_on:
      - gitea-db
    networks:
      - workflow_net

  gitea-db:
    image: postgres:15
    environment:
      - POSTGRES_DB=gitea
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD=gitea
    volumes:
      - ../data/gitea-db:/var/lib/postgresql/data
    networks:
      - workflow_net

  prometheus:
    image: prom/prometheus:v2.53.1
    command: ["--config.file=/etc/prometheus/prometheus.yml"]
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ../data/prometheus:/prometheus
    networks:
      - workflow_net

  grafana:
    image: grafana/grafana:11.1.0
    user: "0"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=Grafana123!
    volumes:
      - ../data/grafana:/var/lib/grafana
      - ./monitoring/datasources:/etc/grafana/provisioning/datasources
    depends_on:
      - prometheus
    networks:
      - workflow_net

  backup:
    build: ./backup
    volumes:
      - ../data:/data:ro
      - ../backups:/backups
    networks:
      - workflow_net

networks:
  workflow_net:
    driver: bridge