services:
  traefik:
    image: traefik:v3.1
    command:
      - "--configFile=/etc/traefik/traefik.yml"
    env_file:
      - ./reverse-proxy/.env
    environment:
      - DOCKER_API_VERSION=1.44
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
      - "9100:9100"
    volumes:
      - ./reverse-proxy/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./reverse-proxy/dynamic.yml:/etc/traefik/dynamic.yml:ro
      - traefik_letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - workflow_net
    restart: unless-stopped

  jenkins:
    extends:
      file: ./jenkins/docker-compose.yml
      service: jenkins

  gitea:
    extends:
      file: ./gitea/docker-compose.yml
      service: gitea

  gitea-db:
    extends:
      file: ./gitea/docker-compose.yml
      service: gitea-db

  registry:
    extends:
      file: ./registry/docker-compose.yml
      service: registry

  prometheus:
    extends:
      file: ./monitoring/docker-compose.yml
      service: prometheus

  grafana:
    extends:
      file: ./monitoring/docker-compose.yml
      service: grafana

  cadvisor:
    extends:
      file: ./monitoring/docker-compose.yml
      service: cadvisor

  node-exporter:
    extends:
      file: ./monitoring/docker-compose.yml
      service: node-exporter

  backup:
    extends:
      file: ./backups/docker-compose.yml
      service: backup

networks:
  workflow_net:
    external: true

volumes:
  traefik_letsencrypt:
  jenkins_home:
  gitea_data:
  gitea_db:
  registry_data:
  prometheus_data:
  grafana_data:
