REGISTRY_HOST=registry.wk-archi-f24a-15m-g4-2025.fr
FRONT_IMAGE=tiptop-front
API_IMAGE=tiptop-api
IMAGE_TAG=preprod-latest
VITE_API_BASE_URL=https://api.preprod.dsp5-archi-f24a-15m-g4-2025.fr
PUBLIC_URL=https://preprod.dsp5-archi-f24a-15m-g4-2025.fr
POSTGRES_DB=tiptop_preprod
POSTGRES_USER=tiptop_preprod
POSTGRES_PASSWORD=ChangeMe123!
POSTGRES_PORT=56432
FRONT_PORT=8084
API_PORT=8085
