version: "3.9"

services:
  front:
    image: ${REGISTRY_HOST}/${FRONT_IMAGE}:${IMAGE_TAG}
    env_file:
      - .env
    environment:
      - VITE_API_BASE_URL=${VITE_API_BASE_URL}
    depends_on:
      - api
    ports:
      - "${FRONT_PORT}:80"
    restart: unless-stopped
    networks:
      - app_preprod_net

  api:
    image: ${REGISTRY_HOST}/${API_IMAGE}:${IMAGE_TAG}
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      TIPTOP_SECURITY_JWT_SECRET: ${TIPTOP_SECURITY_JWT_SECRET}
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "${API_PORT}:8080"
    restart: unless-stopped
    networks:
      - app_preprod_net

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"
    restart: unless-stopped
    networks:
      - app_preprod_net

networks:
  app_preprod_net:
    external: true

volumes:
  postgres_data:
